<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вход в систему</h1>
        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="phone_number">Номер телефона:</label>
                <input type="text" id="phone_number" name="phone_number" required>
            </div>
            <button type="submit">Войти</button>
        </form>
        <div id="message"></div>
    </div>
</body>
</html>